<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=0.5" />
        <title> Meteo Mapper</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/about.css') }}">
<!--        <link rel="stylesheet" href="./css/about.css">-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap" rel="stylesheet">
        <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Abril+Fatface">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/about.css') }}">
<!--        <link href="./css/about.css" rel="stylesheet">-->
    </head>
    <body>
        <header>
            <nav>
                <div class="topnav" id="myTopNav">
                    <a href="home" class= "logoNav">
                    <img src="./static/media/earth.svg" alt="black and white globe logo"/>
                </a>
                    <a href="home">Home</a>
                    <a href="aboutus">About Us</a>
                    <a href="weather">Location Finder</a>
                     <a href="map">Map</a>
                    <a href="history">History</a>
                    <a href="sign_up">Sign Up</a>
                     {%if user_logged_in%}
                    <a href={{"logged_in"}}>My Profile</a>
                    <a href={{"logout"}}>Log Out</a>
                    {%else%}
                    <a href="login">Login</a>
                    {%endif%}
                </div>
            </nav>
        </header>
        <main>
          <h2 align="History">FAQs</h2>


        </main>
    </body>
 <footer>
                <div class="location">
                    <p>Bristol / London </p>
                </div>
                <div class="socialMedia">

                    <a href="https://github.com/panda88-hub" class="GitHub">
                        <img src="./static/media/github.svg" alt="github logo"/>
                    </a>

                    <a href="https://github.com/SamantaWildlife" class="GitHub">
                        <img src="./static/media/github.svg" alt="github logo"/>
                    </a>

                    <a href="https://github.com/HannahBoyd123" class="GitHub">
                        <img src="./static/media/github.svg" alt="github logo"/>
                    </a>

                </div>
                <div class="contactFaq">
                    <a href="FAQ.html" class="FAQ">
                       FAQ
                    </a>
                </div>
            </footer>
</html>
